@import "../styles/variables";
.mark1 {
	position: relative;
	border: 2px solid #d85e18;
	border-top: 5px solid #d85e18;
}
.mark2 {
	border: 2px solid #d85e1880;
}
.mark3 {
	border: 4px solid #ffffff80;
}

.backgroundImgContainer {
	position: absolute;
	top: 0;
	left: 0;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: -1;
	.image {
		width: 100%;
	}
}
