@import "../styles/variables";
.mark1 {
	position: relative;
	border: 2px solid #d85e18;
	border-top: 5px solid #d85e18;
}
.mark2 {
	border: 2px solid #d85e1880;
}
.mark3 {
	background-image: url("../assets/img/bg.jpg");
	background-size: cover;
	background-attachment: fixed;
	position: relative;
	border: 4px solid #ffffff80;
}
