@import "../../styles/titles";
@import "../../styles/variables";
.navbarContainer {
	position: absolute;
	top: 0;
	left: 0;
	background-color: #fff;
	box-shadow: 0 1px 5px 0 #00000080;

	// header navbar
	.navbar {
		display: flex;
		align-items: center;
		.link {
			border: none;
			display: flex;
			align-items: center;
			font-size: 18px;
			text-decoration: none;
			margin: 0 0.25em;
			.iconContainer {
				margin: 0 0.1em;
				position: relative;
				img {
					height: 1.5em;
				}
			}
		}
	}
	.dancingLetters {
		position: relative;
		font-size: 1.75em;
		font-weight: 600;
		overflow: hidden;
		.jetLayer {
			position: absolute;
			height: 100%;
			width: 100%;
			top: 0;
			background-color: #fff;
			z-index: 10;
			animation: flyOut 1.5s ease forwards;
			.jet {
				height: 100%;
				z-index: 11;
			}
		}
		.letter {
			position: relative;
			display: inline-block;
			color: transparent;

			margin-right: 0.1em;

			@for $i from 1 through 21 {
				&:nth-child(#{$i}) {
					animation: colorUp 0.1s ease;
					animation-delay: #{$i * 0.05}s;
					animation-fill-mode: both;
				}
			}
			@for $i from 1 through 21 {
				&:nth-child(#{$i}) > .layer {
					animation: letterPop 0.5s ease;
					animation-delay: #{$i * 0.025}s;
					animation-fill-mode: both;
				}
			}

			.layer {
				position: absolute;
				left: 0px;
				color: #fff;
				text-shadow: none;
			}
		}
	}

	.rightButtons {
		margin-left: auto;
		display: flex;
		align-items: center;
		justify-content: flex-end;
		.auth {
			margin-bottom: -4px;
			.logoContainerLink {
				padding: 0.5em;
				img {
					height: 2.5em;
				}
			}
			.logoContainerButton {
				@extend .logoContainerLink;
				background-color: transparent;
				border: none;
			}
		}
		.logo {
			position: relative;
			overflow: hidden;
			margin-left: 0.1em;
			.logoContainerLink {
				img {
					transform: translate(-100%);
					height: 3em;
					animation: flyIn 1s 1.75s ease-out forwards;
				}
			}
		}
	}
}
// offcanvas navbar
.offcanvas {
	border-top-right-radius: 1rem;
	border-bottom-right-radius: 1rem;
	.offcanvasNavbar {
		display: flex !important;
		flex-direction: column;
		.offcanvasLink {
			display: flex;
			height: 3em;
			align-items: center;
			font-size: 1.25em;
			text-decoration: none;
			.iconContainer {
				margin-right: 0.5em;
				height: inherit;
				display: flex;
				align-items: center;
				img {
					height: 50%;
				}
			}
		}
	}
}

@keyframes letterPop {
	0% {
		bottom: 0;
	}
	50% {
		bottom: -2.5px;
	}
	100% {
		bottom: 0;
	}
}
@keyframes colorUp {
	0% {
		text-shadow: 0 0 red, 0 0 blue;
	}

	100% {
		text-shadow: -2.5px 2.5px red;
	}

	100% {
		text-shadow: -2.5px 2.5px red, -5px 5px blue;
	}
}

@keyframes flyIn {
	to {
		transform: translate(0%);
	}
}
@keyframes flyOut {
	100% {
		transform: translateX(100%);
	}
}
