@import "../../styles/titles";
.navbarContainer {
	position: absolute;
	top: 0;
	left: 0;
	background-color: #fff;
	box-shadow: 0 1px 5px 0 #00000080;
	.navbar {
		.link {
			border: none;
			display: flex;
			align-items: center;
			font-size: 18px;
			text-decoration: none;
			.iconContainer {
				position: relative;
				img {
					margin-right: 0.5em;
					height: 1.5em;
				}
			}
		}
	}
	.rightButtons {
		margin-left: auto;
		display: flex;
		align-items: center;
		.auth {
			margin-right: 0.5em;
			margin-bottom: -4px;
			align-self: flex-end;
			.logoContainerLink {
				padding: 0.5em;
				img {
					height: 2.5em;
				}
			}
			.logoContainerButton {
				@extend .logoContainerLink;
				background-color: transparent;
				border: none;
			}
		}
		.logo {
			.logoContainerLink {
				img {
					height: 3em;
				}
			}
		}
	}
}
