@import "../../styles/titles";
@import "../../styles/variables";
.navbarContainer {
	position: absolute;
	top: 0;
	left: 0;
	background-color: #fff;
	box-shadow: 0 1px 5px 0 #00000080;
	.navbar {
		.link {
			border: none;
			display: flex;
			align-items: center;
			font-size: 18px;
			text-decoration: none;
			.iconContainer {
				position: relative;
				img {
					margin-right: 0.5em;
					height: 1.5em;
				}
			}
		}
	}

	.dancingLetters {
		margin: auto;
		font-size: 1.75em;
		font-weight: 600;
		.letter {
			position: relative;
			display: inline-block;
			color: transparent;
			text-shadow: 0 0 2px $orange, -2.5px 2.5px red, -5px 5px blue;
			margin-right: 0.1em;

			@for $i from 1 through 21 {
				&:nth-child(#{$i}) > .layer {
					// animation-name: letterPop;
					// animation-duration: 1s;
					// animation-delay: #{$i * 0.5};
					// animation-timing-function: ease;
					// animation-fill-mode: forwards;

					animation: letterPop 1s ease #{$i * 0.1};
				}
			}

			.layer {
				position: absolute;
				left: 0px;
				color: #fff;
				text-shadow: none;
			}
		}
	}

	.rightButtons {
		margin-left: auto;
		display: flex;
		align-items: center;
		.auth {
			margin-right: 0.5em;
			margin-bottom: -4px;
			align-self: flex-end;
			.logoContainerLink {
				padding: 0.5em;
				img {
					height: 2.5em;
				}
			}
			.logoContainerButton {
				@extend .logoContainerLink;
				background-color: transparent;
				border: none;
			}
		}
		.logo {
			.logoContainerLink {
				img {
					height: 3em;
				}
			}
		}
	}
}

@keyframes letterPop {
	0% {
		left: 0;
		bottom: 0;
	}
	50% {
		left: -2.5px;
		bottom: -2.5px;
	}
	100% {
		left: 0;
		bottom: 0;
	}
}
