@import "../../styles/variables";
@import "../../styles/buttons";
@import "../../styles/borders";
@import "../../styles/forms";

.profile {
	min-height: 77.6vh;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	margin-top: 2em;

	.wrapper {
		@extend .primaryBorder;
		background-color: #fff;
		border-radius: 1rem;
		min-height: 50vh;
		width: 100%;
		padding: 1em;
		.userData {
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;
		}
		//profile menu
		.menuContainer {
			display: flex;
			align-items: center;
			justify-content: center;

			.buttonContainer {
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				gap: 1em;
				width: 100%;
				.button {
					@extend .linkReset;
					width: 100%;
					text-align: center;
					border: 1px solid $orange;
					border-radius: 0.5rem;
					padding: 0.5em;
					color: $orange;
					&:hover {
						background-color: $orange10;
						color: $orange;
					}
				}
			}
		}

		// username form
		.formContainer {
			.inputContainer {
				display: flex;
				position: relative;
				align-items: center;
				.actionButtonContainer {
					display: flex;
					align-items: center;
					position: absolute;
					height: 60%;
					right: 10px;
					border: 1px solid $orange50;
					border-radius: 1rem;
					padding: 0 0.5em;
					img {
						height: 100%;
					}
				}
			}
		}
	}
}
