@import "./variables";

.linkReset {
	text-decoration: none;
	&:hover {
		color: $light;
	}
}

.buttonPrimary {
	display: block;
	text-align: center;
	width: 100%;
	text-decoration: none;
	background-color: transparent;
	border: 1px solid $orange;
	border-radius: 1rem;
	padding: 0.5em 1em;
	color: $orange;
	&:hover {
		background-color: $orange10;
		color: $orange;
	}
}
