.textDecoratorPrimary {
	font-family: "M PLUS Rounded 1c", sans-serif;
	position: relative;
	font-weight: 600;
	color: #ffbf80;
	text-shadow: #ff8000 -0.5px 0.5px, #ff8000 -1.5px 1.5px, #ff8000 -2px 2px;
}

.textDecoratorSecondary {
	font-family: "M PLUS Rounded 1c", sans-serif;
	position: relative;
	font-weight: 600;
	color: #ffffff80;
	text-shadow: #ff8000 -1px 1px, #ff8000 -1.5px 1.5px;
}
