@import "../../styles/customBorders";

.rankingWrapper {
	@extend .primaryBorder;
	position: sticky;
	top: 5.25em;
	height: 100%;
	padding: 1.5em;
	margin-right: 1em;
	background-color: #fff;
	border-radius: 2rem;

	.participantList {
		overflow: hidden;
		.topTenParticipant {
			position: relative;
			overflow: hidden;
			transform: translateX(-100%);
		}
		@for $i from 1 through 10 {
			.topTenParticipant:nth-child(#{$i}) {
				animation: showup 0.5s #{1 + ($i * 0.5)}s ease forwards;
			}
		}
	}
}
@keyframes showup {
	100% {
		transform: translate(0%);
	}
}

// responsive
@media screen and (max-width: 992px) {
	.rankingWrapper {
		display: none;
	}
}
