@import "../../styles/customBorders";

.rankingWrapper {
	@extend .primaryBorder;
	position: sticky;
	top: 5.25em;
	height: 100%;
	padding: 1.5em;
	margin-right: 1em;
	background-color: #fff;
	border-radius: 2rem;

	// animation wrapper
	.animationWrapper {
		position: relative;
		height: 5em;
		display: flex;
		align-items: center;
		justify-content: center;
		//
		.textContainer {
			position: relative;
			z-index: 10;
			width: 100%;
			height: 100%;
			overflow: hidden;
			.text {
				position: absolute;
				width: 100%;
				height: 100%;
				display: flex;
				align-items: center;
				justify-content: center;
				color: #ff8000;
				&:nth-child(1) {
					top: 1px;
					left: -1px;
					transform: translateY(100%);
					animation: showup 0.5s 1.25s ease forwards;
				}
				&:nth-child(2) {
					top: 2px;
					left: -2px;
					transform: translateY(100%);
					animation: showup 0.5s 1.35s ease forwards;
				}
				&:nth-child(3) {
					color: #ffbf80;
					transform: translateY(100%);
					animation: showup 0.5s 1.05s ease forwards;
				}
			}
		}
		//
		.natureContainer {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: #00000080;
			display: flex;
			justify-content: center;
			overflow: hidden;
			.leafL {
				background-color: green;
				height: 100%;
				width: 50%;
				border: 1px solid red;
				transform: translateY(100%);
				animation: showup 0.75s 0.5s ease forwards;
			}
			.leafR {
				background-color: green;
				height: 100%;
				width: 50%;
				border: 1px solid red;
				transform: translateY(100%);
				animation: showup 0.75s 0.75s ease forwards;
			}
		}
	}
	.participantList {
		overflow: hidden;
		.topTenParticipant {
			position: relative;
			overflow: hidden;
			transform: translateX(-100%);
		}
		@for $i from 1 through 10 {
			.topTenParticipant:nth-child(#{$i}) {
				animation: showup 0.5s #{$i * 0.35s} ease forwards;
			}
		}
	}
}
@keyframes showup {
	100% {
		transform: translate(0%);
	}
}

// responsive
@media screen and (max-width: 992px) {
	.rankingWrapper {
		display: none;
	}
}
