@import "../../styles/buttons";
@import "../../styles/variables";
@import "../../styles/titles";
// globals
.wrapper {
	color: $dark;
	h2 {
		line-height: 1.75rem;
	}
	h5 {
		text-align: center;
		font-size: 1.125rem;
	}

	// main
	.mainWrapper {
		justify-content: center;
		padding: 0.5em;
		margin: 1em 0;
		// aside ranking wrapper
		.rankingWrapper {
			position: sticky;
			top: 5.25em;
			height: 100%;
			padding: 1.5em;
			margin-right: 1em;
			background-color: #fff;
			border-radius: 2rem;
			header {
				text-align: center;
			}
			.imgContainer {
				margin: auto;
				width: 50%;
				margin-bottom: 0.5em;
				overflow: hidden;
				aspect-ratio: 1;
				img {
					width: 100%;
					height: auto;
				}
			}
		}
		// main content
		.mainContent {
			background-color: #fff;
			border-radius: 2rem;
			.heroSection {
				padding: 1.5em;
				h2 {
					text-align: center;
					margin-bottom: 1.5em;
				}
				.cta {
					margin-bottom: 3em;
					display: flex;
					justify-content: space-between;
					.ctaContent {
						width: 70%;
					}
					.ctaImgContainer {
						border: 1px solid black;
						margin: 0.5em;
						width: 30%;
						img {
							width: 100%;
						}
					}
				}
			}
			.descriptionSection {
				margin-top: 1em;
				padding: 1em;
				article {
					margin-bottom: 3em;
				}
			}
		}
	}
}
// footer
.footer {
	padding: 0.5em;
	text-align: center;
	color: $light;
	background-color: $dark;
}

// responsive
@media screen and (max-width: 992px) {
	.rankingWrapper {
		display: none;
	}
}
