@import "../../styles/variables";
@import "../../styles/buttons";

//
.elementsCentered {
	display: flex;
	align-items: center;
	justify-content: center;
}
.landing {
	@extend .elementsCentered;
	min-height: 100vh;

	//
	.menuContainer {
		@extend .elementsCentered;
		align-items: flex-start;
		position: relative;
		background-color: #fff;
		border-radius: 1rem;
		width: 80%;
		min-height: 50vh;
		.buttonsContainer {
			height: 100%;
			padding: 2em;
			width: 100%;
			.rankingContainer {
				margin-bottom: 5em;
				.rankingButton {
					@extend .linkReset, .buttonPrimary;
					width: auto;
					float: right;
				}
			}
			.button {
				@extend .buttonPrimary;
				display: block;
				margin: auto;
				width: auto;
				font-size: 2.5em;
			}
		}
	}
}

//
.tester {
	min-height: 71vh;
	.statsContainer {
		margin: 5em auto;
		display: flex;
		justify-content: space-evenly;
		background-color: #fff;
		border-radius: 1rem;
		.sections {
			margin: 1em 0;
			color: $orange;
			text-align: center;
			font-weight: 600;
			font-size: 1.25em;
		}
		.PCSection {
			@extend .sections;
			color: $success;
		}
		.PPMSection {
			@extend .sections;
		}
		.PESection {
			@extend .sections;
			color: $danger;
		}
	}

	.testWrapper {
		background-color: #fff;
		border-radius: 1rem;
		box-shadow: 0 0 10px 0 $dark;
		padding: 1.5em 0;
		position: relative;
		display: flex;
		color: $dark;
		font-size: 25px;
		margin: auto;
		.sectionWrapper {
			width: 50%;
			overflow: hidden;
			white-space: nowrap;

			// user input wrapper
			.userInputAnswer {
				float: right;
				text-align: right;
				display: flex;
				white-space: nowrap;
				.userAnswers {
					.validAnswer {
						color: $valid_answer;
					}
					.wrongAnswer {
						text-decoration: line-through;
						color: $wrong_answer;
					}
				}
				.currentWord {
					display: inline;
					width: fit-content;
					.validWord {
						color: $valid_answer;
					}
					.wrongWord {
						color: $valid_answer;
					}
				}
			}
		}
	}

	.finishMessage {
		background-color: #fff;
		border-radius: 1rem;
		padding: 1.5em 0;
	}
}

// secret input element
.inputWrapper {
	position: relative;
	text-align: right;
	input {
		width: 4.25px;
		border: none;
		outline: none;
		background: transparent;
	}
}
