@import "../../styles/variables";
@import "../../styles/buttons";

//
.elementsCentered {
	display: flex;
	align-items: center;
	justify-content: center;
}
.landing {
	@extend .elementsCentered;
	min-height: 100vh;

	//
	.menuContainer {
		@extend .elementsCentered;
		align-items: flex-start;
		position: relative;
		background-color: #fff;
		border-radius: 1rem;
		width: 80%;
		min-height: 50vh;
		.buttonsContainer {
			height: 100%;
			padding: 2em;
			width: 100%;
			.rankingContainer {
				margin-bottom: 5em;
				.rankingButton {
					@extend .linkReset, .buttonPrimary;
					width: auto;
					float: right;
				}
			}
			.button {
				@extend .buttonPrimary;
				display: block;
				margin: auto;
				width: auto;
				font-size: 2.5em;
			}
		}
	}
}

//
.tester {
	.statsContainer {
	}

	.testWrapper {
		background-color: $light;
		padding: 1.5em 0;
		margin: 0 1em;
		position: relative;
		display: flex;
		color: $dark;
		font-size: 25px;
		.sectionWrapper {
			width: 50%;
			overflow: hidden;
			white-space: nowrap;

			// user input wrapper
			.userInputAnswer {
				float: right;
				text-align: right;
				display: flex;
				white-space: nowrap;
				.userAnswers {
					.validAnswer {
						color: blue;
					}
					.wrongAnswer {
						color: red;
					}
				}
				.currentWord {
					display: inline;
					width: fit-content;
					.validWord {
						color: blue;
					}
					.wrongWord {
						color: red;
					}
				}
			}
		}
	}
}

// secret input element
.inputWrapper {
	position: relative;
	text-align: right;
	input {
		width: 4.25px;
		border: none;
		outline: none;
		background: transparent;
	}
}
