@import "../../styles/buttons";
@import "../../styles/borders";

.stats {
	min-height: 77.7vh;
	.tryAgainButton {
		@extend .buttonPrimary;
		width: fit-content;
	}
	.dataContainer {
		@extend .primaryBorder;
		border-radius: 1rem;
		padding: 1em;
		margin-top: 2em;
		background-color: #fff;

		.dataSent {
			@extend .primaryBorder;
			border-radius: 1rem;
			padding: 1em;
			margin: 1em 0;
			.scores {
				display: flex;
				align-items: center;
				justify-content: space-around;
				flex-wrap: wrap;
				.dataHolder {
					display: flex;
					flex-direction: column;
					align-items: center;
					margin-bottom: 1em;
					.circleMask {
						@extend .primaryBorder;
						border-radius: 50%;
						height: 7em;
						width: 7em;
						display: flex;
						align-items: center;
						justify-content: center;
						margin-bottom: 0.5em;
						.data {
							color: $dark;
							text-align: center;
							font-size: 1.5em;
						}
					}
					h5 {
						margin-bottom: 0;
					}
				}
			}
		}
	}
}
