.userRanking {
	.wrapper {
		margin: auto;
		background-color: #fff;
		border-radius: 1rem;
		.tableContainer {
			overflow: auto;
			min-height: 15em;
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}
}
